[data-user-color-scheme='dark'] {
  --heading-color: #eeeeee;
  --theme-color: #ff603c;
  --social-filter: 1;
  // social media icon for dark
  .social-media {
    .social-media-image {
      filter: invert(1);
    }
  }
}
@media (prefers-color-scheme: dark) {
  :root:not([data-user-color-scheme]) {
    --heading-color: #eeeeee;
    --social-filter: 0;
  }
}