.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;
}
.visible {
  opacity: 1;
}
#home {
  h1[data-head= "title-content"] {
    color: #8892b0;
  }
}
#home.segment {
  min-height: 30rem;
}
#Experience.segment {
  min-height: 20rem;
  height: 20rem;
}
.social-media {
  display: flex;
  gap: 4rem;
  .social-media-image {
    height: 1.5rem;
    filter: invert(0);
  }
  a:nth-child(1) {
    transition-delay: 500ms;
  }
  a:nth-child(2) {
    transition-delay: 600ms;
  }
  a:nth-child(3) {
    transition-delay: 700ms;
  }
  a:nth-child(4) {
    transition-delay: 800ms;
  }
}

.segment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 58rem;
  height: 80vh;
}
body {
  color: var(--font-color);
}
.theme-color {
  color: var(--theme-color);
}

// experience
.experience-band:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 400px;
  background: #ccd1d9;
  z-index: 1;
}
.experience-band {
  div:nth-child(1) {
    transition-delay: 100ms;
  }
  div:nth-child(2) {
    transition-delay: 200ms;
  }
  div:nth-child(3) {
    transition-delay: 300ms;
  }
}
.experience-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}
.experience-block-right {
  float: right;
}

.experience-block-left {
  float: left;
  direction: rtl
}
.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #F5F7FA;
  background: #4FC1E9;
  margin-top: 10px;
  z-index: 9999
}

.experience-content {
  width: 95%;
  padding: 0 15px;
  color: #666
}

.experience-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500
}
.experience-content span {
  font-size: 15px;
  color: #a4a4a4;
}

.experience-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
}
@media screen and (max-width: 768px) {
  .experience-band:before {
     left: 2rem;
     width: 2px;
  }
  .experience-block {
     width: 100%;
     margin-bottom: 30px;
  }
  .experience-block-right {
     float: none;
  }

  .experience-block-left {
     float: none;
     direction: ltr;
  }
}
