:root {
  --primary-color: #000;
  --secondary-color: #f5f5f5;
  --theme-filter: 1;
  --theme-color: #f35252;
  --shadow-color: rgb(255 255 255/65%);
  --muted-text: hsla(0,0%,100%,.65);
}
.light-theme {
  --primary-color: #ffffff;
  --secondary-color: #000;
  --theme-filter: 0;
  --shadow-color: rgb(119 113 113 / 65%);
  --muted-text: hsl(0deg 5% 19% / 65%);
}
@media screen and (max-width: 1000px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }
}

.nav-link, .nav-link:focus, a {
  color: var(--secondary-color) !important;
}
.active {
  color: var(--theme-color) !important;
}
#Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 5rem;
}
body {
  font-family: 'Roboto', sans-serif;
  background: var(--primary-color) !important;
  color: var(--secondary-color);
}
body.light-theme #sun {
  display: none;
}
body:not(.light-theme) #moon {
  display: none;
}
#sun {
  filter: invert(1);
}
#theme-toggle {
  background: 0;
  border: 0;
  margin: auto 4px;
}
nav a{
  font-weight: 500 !important;
  font-size: 18px !important;
}
.home-container {
  justify-content: center;
  display: flex;
  gap: 4rem;
  padding: 0 4rem;
}
.font-large {
  font-size: 2rem
}
.social-media-image {
  width: 20px;
  height: 20px;
  filter: invert(var(--theme-filter)) !important;
}
.theme-color {
  color: var(--theme-color) !important;
}
.connect {
  position: fixed;
  right: 30px;
  top: 36%;
}
.social-media a {
  display: block;
  margin-bottom: 20px;
}
.empty-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 500px;
}
.color-muted {
  color: var(--muted-text) !important;
}
.projects {
  position: relative;
  margin: 50px auto;
  max-width: 850px;
  min-height: auto;
}
.card {
  transition: all 0.2s ease-in-out;
  background-color: inherit;
  border: 1px solid grey;
}
.card:hover {
  transform: scale(1.005);
  box-shadow: 5px 5px 8px 0 var(--shadow-color);
}
.card-container  a, .card-container  a:hover, .card-container  a:visited {
  color: inherit;
  text-decoration: none;
}
.card-img-top {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}