:root {
  --primary-color: #1d1e20;
  --secondary-color: #f5f5f5;
  --theme-filter: 1;
  --muted-text: hsla(0,0%,100%,.65);
}
.light-theme {
  --primary-color: #f5f5f5;
  --secondary-color: #1d1e20;
  --theme-filter: 0;
  --muted-text: hsl(0deg 5% 19% / 65%);
}
body {
  font-family: 'Roboto', sans-serif;
  background: var(--primary-color) !important;
  color: var(--secondary-color);
}
body.light-theme #sun {
  display: none;
}
body:not(.light-theme) #moon {
  display: none;
}
#sun {
  filter: invert(1);
}
#theme-toggle {
  background: 0;
  border: 0;
  margin: auto 4px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
nav a{
  color: var(--secondary-color) !important;
  font-weight: 500 !important;
  font-size: 18px !important;
}
.custom-pad {
  padding: 100px 0px;
}
.home-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.home-title {
  font-size: 40px
}
.home-title > span {
  color: #f35252;
  font-size: 50px;
}
.home-subtitle {
  font-weight: 400;
}
.social-media-image {
  width: 20px;
  height: 20px;
  filter: invert(var(--theme-filter)) !important;
}
.connect {
  position: absolute;
  right: 30px;
  bottom: 0;
}
.connect > .label {
  position: absolute;
  right: 0;
  bottom: 30rem;
  white-space: nowrap;
  transform: rotate(90deg);
  transform-origin: 100% 0;
}
.social-media {
  position: absolute;
  right: 0;
  bottom: 15rem;
}
.social-media a {
  display: block;
  margin-bottom: 20px;
}
.typed-word {
  font-size: 50px;
  font-weight: 400;
}
.home-avatar {
  position: relative;
  margin-right: 100px;
}
.blob {
  position: absolute;
  z-index: -1;
  left: -51%;
  height: 38rem;
  top: -14%;
  transform: skewX(10deg);
}
.home-avatar:hover .blob {
  transform: translateY(40px);
}
.avatar {
  margin-right: -38px;
  padding: 40px 0px 0 0px;
  scale: 0.75;
}
.empty-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 500px;
}
.color-muted {
  color: var(--muted-text) !important;
}
