body {
  font-family: 'Roboto', sans-serif;
  background: #000;
  color: #fff;
}
.custom-pad {
  padding: 100px 0px;
}
.home-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.home-title {
  font-size: 40px
}
.home-title > span {
  color: cyan;
  font-size: 50px;
}
.social-media-image {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
.connect {
  position: absolute;
  right: 30px;
  bottom: 0;
}
.connect > .label {
  position: absolute;
  right: 0;
  bottom: 30rem;
  white-space: nowrap;
  transform: rotate(90deg);
  transform-origin: 100% 0;
}
.social-media {
  position: absolute;
  right: 0;
  bottom: 15rem;
}
.social-media a {
  display: block;
  margin-bottom: 20px;
}
.typed-word {
  margin-top: 100px;
  font-size: 50px;
}
.home-avatar {
  position: relative;
  margin-right: 100px;
}
.blob {
  position: absolute;
  z-index: -1;
  left: -51%;
  height: 38rem;
  top: -14%;
  transform: skewX(10deg);
}