<section id="Home">
  <div class="home-container">
    <img class="home-avatar" srcset="png/dev.png"  alt="avatar">
    <div class="home-content d-flex flex-column justify-content-center gap-4 mt-5 pt-2">
      <h2 class="home-title font-large">Hi there! <img style="height: 45px;" src="gif/hello.gif" alt="hello"></h2>
      <h2 class="font-large">I'm <span class="theme-color">Kavin Kumar</span></h2>
      <h2 class="">Software Engineer at ZOHO</h2>
    </div>
  </div>
  <h3 class="typed-word"><span class="typed-out-word"></span></h3>
</section>
