<section>
  <div id="home" class="container segment">
    <p  style="transition-delay: 100ms;" class="hidden">Hi, my name is</p>
    <h1 style="transition-delay: 200ms;" class="mt-3 hidden">Kavin Kumar</h1>
    <h1 style="transition-delay: 300ms;" data-head="title-content" class="mt-0 hidden">I build things for web</h1>
    <p  style="transition-delay: 400ms;" class="hidden">Hey! I'm a software engineer who specializes in creating high-scale wonders. Currently, I'm diving headfirst into the exciting world of AI and machine learning models. I'm also a big fan of open source and love contributing to the community.  Let's continue this tech adventure together! 🚀</p>
    <div class="social-media">
      <a target="_blank" href="https://www.linkedin.com/in/kavinkumar999/" class="hidden">
        <img src="svg/linkedin.svg" class="social-media-image" alt="linkedin">
      </a>
      <a target="_blank" href="https://github.com/kavinkumar999" class="hidden">
        <img src="svg/github.svg" class="social-media-image" alt="github">
      </a>
      <a target="_blank" href="https://twitter.com/kavinkumar999" class="hidden">
        <img src="svg/twitter.svg" class="social-media-image" alt="twitter">
      </a>
      <a target="_blank" href="mailto:kavinkumarnkm007@gmail.com" class="hidden">
        <img src="svg/email.svg" class="social-media-image" alt="email">
      </a>
    </div>
  </div>
  <div id="about" class="container pt-5 segment">
    <h3 class="hidden"> ✨ About Me</h3>
    <div class="d-flex">
      <div>
        <p class="hidden" style="transition-delay: 100ms;">Hello! My name is Kavin Kumar and I enjoy creating things that live on the internet. My web development adventure kicked off back in 2015 when I discovered the browser's the inspect option. I used it to change my Facebook name and proudly showcased my 'hacking' skills 😅 to my friends, setting me on the path to web development</p>
        <p class="hidden" style="transition-delay: 200ms;">During my BE degree in college, I immersed myself in the world of competitive programming, which served as a crucial milestone in my journey. Additionally, I acquired web development skills that enabled me to actively participate in various hackathons, offering me invaluable experiences and insights along the way.</p>
        <p class="hidden" style="transition-delay: 300ms;">Fast-forward to today, I've working at ZOHO Corporation as a sofware developer. Build & ship various features into zoho payroll app. Keeping in mind paradigms of stability, security and scalability</p>
        <p>Here are the few technologies, I've worked with</p>
        <ul class="skills-list">
          <li>Java</li>
          <li>JavaScript (ES6+)</li>
          <li>Python</li>
          <li>Spring boot</li>
          <li>Express.js</li>
          <li>Node.js</li>
          <li>Ember.js</li>
          <li>Express.js</li>
        </ul>
      </div>
      {{/*  <img class="avatar" style="height: 300px; width: 350px" srcset="png/dev.png"  alt="avatar">  */}}
    </div>
  </div>
  <div id="Experience" class="container pt-5 segment">
    <h3 class="hidden"> ✨ Experience</h3>
    <div class="experience-band">
      <div class="experience-block experience-block-right hidden">
        <div class="marker"></div>
        <div class="experience-content">
          <h3>Zoho Corporation</h3>
          <span>Member Technical Staff</span>
          <p class="m-0">Chennai, Tamilnadu</p>
          <p>(Mar 2021 - Present)</p>
        </div>
      </div>
      <div class="experience-block experience-block-left hidden">
        <div class="marker"></div>
        <div class="experience-content">
          <h3>Aerele Technologies</h3>
          <span>Software Developer Intern</span>
          <p class="m-0">Tiruppur, Tamilnadu</p>
          <p>(Sep 2020 - Mar 2021)</p>
        </div>
      </div>
      <div class="experience-block experience-block-right hidden">
        <div class="marker"></div>
        <div class="experience-content">
          <h3>Intellibytes system</h3>
          <span>Web developer Intern</span>
          <p class="m-0">Coimbatore, Tamilnadu</p>
          <p>(Nov 2018 - Dec 2018)</p>
        </div>
      </div>
  </div>
</section>