<section>
  <div id="home" class="container segment">
    <p  style="transition-delay: 100ms;" class="hidden">Hi, my name is</p>
    <h1 style="transition-delay: 200ms;" class="mt-3 hidden">Kavin Kumar</h1>
    <h1 style="transition-delay: 300ms;" data-head="title-content" class="mt-0 hidden">I build things for web</h1>
    <p  style="transition-delay: 400ms;" class="hidden">I’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences. Currently, I’m focused on building accessible, human-centered products at</p>
    <div class="social-media">
      <a target="_blank" href="https://www.linkedin.com/in/kavinkumar999/" class="hidden">
        <img src="{{ .Site.BaseURL }}svg/linkedin.svg" class="social-media-image" alt="linkedin">
      </a>
      <a target="_blank" href="https://github.com/kavinkumar999" class="hidden">
        <img src="{{ .Site.BaseURL }}svg/github.svg" class="social-media-image" alt="github">
      </a>
      <a target="_blank" href="https://twitter.com/kavinkumar999" class="hidden">
        <img src="{{ .Site.BaseURL }}svg/twitter.svg" class="social-media-image" alt="twitter">
      </a>
      <a target="_blank" href="mailto:kavinkumarnkm007@gmail.com" class="hidden">
        <img src="{{ .Site.BaseURL }}svg/email.svg" class="social-media-image" alt="email">
      </a>
    </div>
  </div>
  <div id="about" class="container" style="padding-top: 6rem;">
    <h3 class="section-heading hidden"> ✨ About Me</h3>
    <div class="d-flex">
      <div>
        <p class="hidden" style="transition-delay: 100ms;">Hello! My name is Brittany and I enjoy creating things that live on the internet. My interest in web development started back in 2012 when I decided to try editing custom Tumblr themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!</p>
        <p class="hidden" style="transition-delay: 200ms;">Fast-forward to today, and I’ve had the privilege of working at an advertising agency, a start-up, a huge corporation, and a student-led design studio. My main focus these days is building accessible, inclusive products and digital experiences at Upstatement for a variety of clients.</p>
        <p class="hidden" style="transition-delay: 300ms;">I also recently launched a course that covers everything you need to build a web app with the Spotify API using Node & React.</p>
      </div>
      {{/*  <img class="avatar" style="height: 300px; width: 350px" srcset="png/dev.png"  alt="avatar">  */}}
    </div>
  </div>
  <div id="Experience" class="container " style="padding-top: 5rem;">
    <h3 class="hidden"> ✨ Experience <span class="section-heading"></span></h3>
    <div class="experience-band"></div>
  </div>
</section>