<nav class="flex-row justify-content-around nav mt-4">
  <div class="d-flex">
    <a class="nav-link" href="#">Kavin</a>
  </div>
  <div class="d-flex align-items-center">
    <a class="nav-link  active" href="/">Home</a>
    <a class="nav-link" href="/about">About</a>
    <a class="nav-link" href="/experience">Experience</a>
    <a class="nav-link" href="/projects">Projects</a>
    <a class="nav-link" href="/contact">Contact</a>
    <img src="{{ .Site.BaseURL }}png/sun.png" id="theme" onclick="setMode()"  class="mx-5" alt="theme">
  </div>
</nav>