<div class="projects d-flex flex-column gap-4">
  <div class="project-intro">
    <h3>{{.Title}}</h3>
    <p class="color-muted">&emsp;{{.Params.description}}</p>
  </div>
  <div class="card-container d-flex flex-wrap gap-5 justify-content-center">
    {{ $currentUrl := .Site.BaseURL}}
    {{ range .Site.Data.projects }}
      <div class="card align-items-center" style="width: 45%;">
        <a href="{{.url}}" target="_blank">
          <div class="image-wrapper-card"><img class="card-img-top" src="{{$currentUrl}}{{.img}}" alt="logo"></div>
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title">{{.name}}</h5>
            <p class="card-text color-muted text-center">&emsp;{{.description}}</p>
          </div>
        </a>
      </div>
    {{ end }}
  </div>
</div>